node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Docusaurus files
darc-docs/.docusaurus

# Idea files
.idea/

# Darc docs Compiled output
darc-docs/build
darc-docs/static/api
darc-js/dist

# Web3 Radar
web3-radar/.venv
web3-radar/data/*.db
web3-radar/data/*.json
web3-radar/dist/*
!web3-radar/dist/ChainRadar.zip
web3-radar/build
web3-radar/*.spec.bak
__pycache__/
*.pyc
.pytest_cache
.venv
*.egg-info
