node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Docusaurus files
darc-docs/.docusaurus

# Idea files
.idea/

# Darc docs Compiled output
darc-docs/build
darc-docs/static/api
darc-js/dist

# Golden dog finder
golden-dog-finder/frontend/node_modules
golden-dog-finder/frontend/dist
**/__pycache__/
*.pyc
.venv
.pytest_cache
golden-dog-finder/desktop/dist/
golden-dog-finder/desktop/ui/assets/