# Crypto-AI-Master-Intelligence
.env
data/*.db
data/*.db-wal
data/*.db-shm
logs/*.log
frontend/node_modules
__pycache__/
*.pyc
.pytest_cache
.ruff_cache
models/*.pkl
reports/*
/dist/
/build/
*.spec
.venv/
